<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>

  <body>
    <div class="container-fluid">
      <%- include('includes/nav') %> <%- include('includes/cookie') %>
      <section id="about">
        <div class="team">
          <div>
            <img
              class="about-team-img"
              src="/img/about-1.jpg"
              alt="president"
            />
            <h5>President</h5>
            <p>- Mark Porter</p>
          </div>
          <div>
            <img
              class="about-team-img"
              src="/img/about-2.jpg"
              alt="vice president"
            />
            <h5>Vice President</h5>
            <p>- Victoria Denali</p>
          </div>
          <div>
            <img
              class="about-team-img"
              src="/img/about-3.jpg"
              alt="marketing coordinator"
            />
            <h5>Marketing Coordinator</h5>
            <p>- Toby Johnson</p>
          </div>
        </div>
        <div class="about-row">
          <div class="about-column">
            <img src="/img/about-4.jpg" alt="doctors" />
            <div>
              <h4 class="about-sub-title"><span>Who</span> We Are</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                iure sunt culpa aspernatur praesentium, amet aliquam quam est
                pariatur debitis perspiciatis cumque veritatis at, vel
                consequuntur. Voluptatibus autem error mollitia delectus,
                voluptate commodi repellat reprehenderit molestiae, impedit modi
                eligendi nisi praesentium sequi dicta eveniet? Ipsum aliquam
                praesentium iure aut voluptates!
              </p>
            </div>
          </div>
          <div class="affiliates-container">
            <h4>Affiliations</h4>
            <div class="affiliates">
              <img
                class="affiliates-img"
                src="/img/techcrunch.png"
                alt="tech crunch"
              />
              <img
                class="affiliates-img"
                src="/img/verge.png"
                alt="verge magazine"
              />
              <img
                class="affiliates-img"
                src="/img/verizon.png"
                alt="verizon wireless"
              />
            </div>
          </div>
          <div class="about-column reverse">
            <img src="/img/about-5.jpg" alt="doctors" />
            <div>
              <h4 class="about-sub-title"><span>Our</span> Company</h4>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit
                explicabo, labore soluta eaque placeat natus temporibus ipsam
                tempore sapiente aut asperiores neque et esse! Eius a sequi
                ducimus delectus, quos veritatis, voluptates officiis iste,
                velit tenetur voluptatum. Quisquam, recusandae maiores.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
