<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>

  <body>
    <div class="container-fluid">
      <%- include('includes/nav') %> <%- include('includes/cookie') %>
      <header id="help">
        <div class="help-container">
          <h3>Need <span>Help</span>?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, modi?
          </p>
          <div class="help-instructions">
            <h6 class="center">Instructions:</h6>
            <ol>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              <li>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate, libero?
              </li>
              <li>Lorem ipsum dolor sit amet.</li>
            </ol>
          </div>
          <a class="help-btn btn deep-purple darken-1" href="/find-doctor"
            >Spot Doctor</a
          >
        </div>
      </header>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
