<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/20d949d22b.js"
      crossorigin="anonymous"
    ></script>

    <%- include('includes/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('includes/nav') %>
      <main>
        <%- include('includes/cookie') %>
        <div class="intro-container">
          <div class="box">
            <i class="material-icons large deep-purple-text darken-1"
              >local_hospital</i
            >
            <p>
              <span class="intro-span">Lorem ipsum</span>, dolor sit amet
              consectetur adipisicing elit. Corporis voluptatum minus cupiditate
              qui culpa, atque, commodi veritatis ab soluta et animi. Odio,
              possimus deserunt illo quasi dicta unde expedita qui.
            </p>
          </div>
          <div class="box">
            <i class="material-icons large deep-purple-text darken-1"
              >healing</i
            >
            <p>
              <span class="intro-span">nam aliquam</span> sem et tortor
              consequat id porta nibh venenatis cras sed felis eget velit
              aliquet sagittis id consectetur purus ut faucibus pulvinar
              elementum integer enim neque volutpat ac tincidunt
            </p>
          </div>
          <div class="box">
            <i class="material-icons large deep-purple-text darken-1"
              >favorite</i
            >
            <p>
              <span class="intro-span">sollicitudin</span> ac orci phasellus
              egestas tellus rutrum tellus pellentesque eu tincidunt tortor
              aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh
              ipsum consequat nisl vel pretium lectus quam id
            </p>
          </div>
        </div>
        <div class="img-container">
          <img src="/img/banner-1.jpg" alt="doctors" />
        </div>
        <section class="testimonials">
          <div class="testimonial">
            <img
              class="testimonial-pic"
              src="/img/testimonial-1.jpg"
              alt="profile person"
            />
            <div class="testimonial_user">
              <h3 class="testimonial-name">Erick Thompson</h3>
            </div>
            <p class="testimonial-text">
              "nisl vel pretium lectus quam id leo in vitae turpis massa sed
              elementum tempus egestas sed sed risus pretium quam"
            </p>
          </div>
          <div class="testimonial">
            <img
              class="testimonial-pic"
              src="/img/testimonial-2.jpg"
              alt="profile person"
            />
            <div class="testimonial_user">
              <h3 class="testimonial-name">Melissa Seary</h3>
            </div>
            <p class="testimonial-text">
              "non consectetur a erat nam at lectus urna duis convallis
              convallis tellus id interdum velit laoreet id donec ultrices
              tincidunt"
            </p>
          </div>
          <div class="testimonial">
            <img
              class="testimonial-pic"
              src="/img/testimonial-3.jpg"
              alt="profile person"
            />
            <div class="testimonial_user">
              <h3 class="testimonial-name">Sarah Stow</h3>
            </div>
            <p class="testimonial-text">
              "nam aliquam sem et tortor consequat id porta nibh venenatis cras
              sed felis eget velit aliquet sagittis id consectetur purus"
            </p>
          </div>
        </section>
        <div class="img-container">
          <img src="/img/banner-2.jpg" alt="doctors" />
        </div>
        <h3 class="center connect-title">Connect <span class="connect-span">With</span> Us</h3>
        <div class="social-media-icons-container">
          <div class="icon-container">
            <a href="https://plus.google.com/"
              ><i class="social-icon fab fa-google-plus"></i
            ></a>
          </div>
          <div class="icon-container">
            <a href="https://www.facebook.com/"
              ><i class="social-icon fab fa-facebook"></i
            ></a>
          </div>
          <div class="icon-container">
            <a href="https://www.instagram.com/"
              ><i class="social-icon fab fa-instagram"></i
            ></a>
          </div>
          <div class="icon-container">
            <a href="https://www.google.com/gmail/"
              ><i class="social-icon fas fa-envelope"></i
            ></a>
          </div>
        </div>
      </main>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
